<!DOCTYPE html>
<html>
	<head>
		<title>TagaTaga</title>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@TagaTagaYT" />
		<meta name="twitter:title" content="TagaTaga" />
		<meta name="twitter:description" content="idk /shrug" />
		<meta name="twitter:image" content="https://avatars1.githubusercontent.com/u/47911372?s=40&v=4" />
		
		<meta property="og:title" content="TagaTaga" />
		<meta property="og:type" content="video.movie" />
		<meta property="og:url" content="http://taga.64-b.it" />
		<meta property="og:image" content="https://avatars1.githubusercontent.com/u/47911372?s=40&v=4" />
	</head>
	<body>
		{{ content }}
	</body>
</html>
		
